<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>True Trello Printer</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<style>
body{margin:15%;}

.panel-body{
font-size: 1.2em;

}
</style>
  <STYLE type="text/css" media="print">
    body{margin:0;}
  </STYLE>
</head>
 <body>

    <div id="out">
      No Trello JSON data found
    </div>

  </ul>
</div>

<script type="text/html" id="template-output" >
{{#lists}}
    <h1>Område: {{name}}</h1>
    {{#cards}}
        <div class="panel panel-default">
              <div class="panel-heading"><h4>{{name}}</h4>{{{desc}}}</div>
              <!--div class="panel-body" >
                
              </div-->
             <ul class="list-group">
   
            {{#actions}}
                 <li class="list-group-item"><tt style="color:gray;">{{date}} </tt> {{{text}}}</li>
            {{/actions}}
          </ul>
        </div>
    {{/cards}}
<hr><br><br>
{{/lists}}

</script>




  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.0/marked.min.js
" type="text/javascript"></script>
  <script type="text/javascript">
   
  function eatData(trelloJson){
    var data = {
                    board: trelloJson.name
                    ,
                    lists: []
                    ,
                    ref: {}
                }

    for(i in trelloJson.lists){
        var list = trelloJson.lists[i]
        if(list.closed){
            //continue
        }
        data.ref[list.id] = {
                                name: list.name
                                ,
                                cards: []
                            }
        data.lists.push(data.ref[list.id])
    }


    for(i in trelloJson.cards){
        var card = trelloJson.cards[i]
         if(card.closed){
            //continue
        }
        
        data.ref[card.id] = {
                                name: card.name
                                ,
                                desc: marked(card.desc)
                                ,
                                actions: []
                            }
        
    data.ref[card.idList].cards.push(data.ref[card.id])    

    }
    
    for(i in trelloJson.actions){
        var action = trelloJson.actions[i]
       if(action.   type != "commentCard"){
            continue
        }
        
       
         data.ref[action.id] = {
                                text: marked(action.data.text)
                                ,
                                date: moment(action.date).format('YYYY-MM-DD')
                            }
        try{
            data.ref[action.data.card.id].actions.push(data.ref[action.id])
        } catch(e){}
    }

    return data;
  }

function showData(data){
    var template = $('#template-output').html()
    console.log(JSON.stringify(data,null,2))
    $('#out').html(Mustache.render(template, data))
}

   function autorun()
   {
        if(null == data){
          return alert('Please insert JSON data from Trello in the code')        
        }
        showData(eatData(data));
   }
   if (document.addEventListener) document.addEventListener("DOMContentLoaded", autorun, false);
   else if (document.attachEvent) document.attachEvent("onreadystatechange", autorun);
   else window.onload = autorun;


data = null;

   data = {
    id: "5b6c60ddbd44d24fa6ff4489",
    name: "JS Refactor",
    desc: "",
    descData: null,
    closed: false,
    idOrganization: "5b6c60072ddf724e9a4e213f",
    invited: false,
    limits: {
    attachments: {
    perBoard: {
    status: "ok",
    disableAt: 34200,
    warnAt: 32400
    }
    },
    boards: {
    totalMembersPerBoard: {
    status: "ok",
    disableAt: 1520,
    warnAt: 1440
    }
    },
    cards: {
    openPerBoard: {
    status: "ok",
    disableAt: 4750,
    warnAt: 4500
    },
    totalPerBoard: {
    status: "ok",
    disableAt: 1900000,
    warnAt: 1800000
    }
    },
    checklists: {
    perBoard: {
    status: "ok",
    disableAt: 1900000,
    warnAt: 1800000
    }
    },
    customFields: {
    perBoard: {
    status: "ok",
    disableAt: 48,
    warnAt: 45
    }
    },
    labels: {
    perBoard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    lists: {
    openPerBoard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    },
    totalPerBoard: {
    status: "ok",
    disableAt: 2850,
    warnAt: 2700
    }
    }
    },
    pinned: false,
    starred: false,
    url: "https://trello.com/b/yoDyaws0/js-refactor",
    prefs: {
    permissionLevel: "public",
    voting: "disabled",
    comments: "members",
    invitations: "members",
    selfJoin: true,
    cardCovers: true,
    cardAging: "regular",
    calendarFeedEnabled: false,
    background: "5a7e159284b6defc477f795a",
    backgroundImage: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x1469/1c8491d2d571ddc87629bf56389d3ed0/photo-1477132394330-d2376dc4c091",
    backgroundImageScaled: [
    {
    width: 140,
    height: 100,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/140x100/93772cb95d15a4db0472c45c1e691157/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 256,
    height: 192,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/256x192/204261fda7ba9f0abaf82a6a1da1f8cb/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 480,
    height: 480,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x480/8d45687dd91f7c1c0ff83e8b9cbeeb9b/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 960,
    height: 960,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/960x960/4ba12ced9c842b66a3af5065a69a05c2/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 1024,
    height: 1024,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1024x1024/3e9f72612ea5811e8e14944aaccbd4ca/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 2048,
    height: 2048,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x2048/bd44ebe0ccf8731e3a199797d2128a77/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 1280,
    height: 1280,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1280/2dd18432d6f5a9d10403dc10e62f43b4/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 1920,
    height: 1920,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1920x1920/dc3c3cd1b1053695bf33a1a53052f1c5/photo-1477132394330-d2376dc4c091.jpg"
    },
    {
    width: 2560,
    height: 1469,
    url: "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x1469/1c8491d2d571ddc87629bf56389d3ed0/photo-1477132394330-d2376dc4c091"
    }
    ],
    backgroundTile: false,
    backgroundBrightness: "dark",
    backgroundBottomColor: "#040404",
    backgroundTopColor: "#040404",
    canBePublic: true,
    canBeOrg: true,
    canBePrivate: true,
    canInvite: true
    },
    invitations: [ ],
    shortLink: "yoDyaws0",
    subscribed: false,
    labelNames: {
    green: "Baixa",
    yellow: "Média",
    orange: "",
    red: "Alta",
    purple: "",
    blue: "Leitura",
    sky: "",
    lime: "",
    pink: "",
    black: ""
    },
    powerUps: [ ],
    dateLastActivity: "2018-08-09T16:08:04.323Z",
    dateLastView: "2018-08-09T16:29:27.680Z",
    shortUrl: "https://trello.com/b/yoDyaws0",
    idTags: [ ],
    datePluginDisable: null,
    creationMethod: null,
    actions: [
    {
    id: "5b6c66e0e86be08a0addab97",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    member: {
    name: "Caio Oliveira",
    id: "58ce81fde94de09d984147c7"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a"
    },
    deactivated: false,
    idMember: "58ce81fde94de09d984147c7"
    },
    type: "removeMemberFromCard",
    date: "2018-08-09T16:08:00.164Z",
    limits: { },
    member: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c66dff38cba3833b76773",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    member: {
    name: "AdrianoTorres",
    id: "51ae3b05bc0b449d6e001010"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a"
    },
    deactivated: false,
    idMember: "51ae3b05bc0b449d6e001010"
    },
    type: "removeMemberFromCard",
    date: "2018-08-09T16:07:59.101Z",
    limits: { },
    member: {
    id: "51ae3b05bc0b449d6e001010",
    avatarHash: null,
    avatarUrl: null,
    fullName: "AdrianoTorres",
    initials: "A",
    username: "adrianortorres"
    },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c66c38522df3a803b19fa",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Doing",
    id: "5b6c60e7a4f6676495449d6e"
    },
    card: {
    shortLink: "kDf76VsH",
    idShort: 10,
    name: "Site",
    id: "5b6c66c38522df3a803b19f9"
    }
    },
    type: "createCard",
    date: "2018-08-09T16:07:31.379Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c66aa327da548f8ad5fa0",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    idMember: "51ae3b05bc0b449d6e001010"
    },
    type: "makeAdminOfBoard",
    date: "2018-08-09T16:07:06.339Z",
    limits: { },
    member: {
    id: "51ae3b05bc0b449d6e001010",
    avatarHash: null,
    avatarUrl: null,
    fullName: "AdrianoTorres",
    initials: "A",
    username: "adrianortorres"
    },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c669ec2ce1e5c30009809",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    member: {
    name: "AdrianoTorres",
    id: "51ae3b05bc0b449d6e001010"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a"
    },
    idMember: "51ae3b05bc0b449d6e001010"
    },
    type: "addMemberToCard",
    date: "2018-08-09T16:06:54.046Z",
    limits: { },
    member: {
    id: "51ae3b05bc0b449d6e001010",
    avatarHash: null,
    avatarUrl: null,
    fullName: "AdrianoTorres",
    initials: "A",
    username: "adrianortorres"
    },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c669db6f7fc032b152a3d",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    idMemberAdded: "51ae3b05bc0b449d6e001010",
    memberType: "normal"
    },
    type: "addMemberToBoard",
    date: "2018-08-09T16:06:53.764Z",
    limits: { },
    member: {
    id: "51ae3b05bc0b449d6e001010",
    avatarHash: null,
    avatarUrl: null,
    fullName: "AdrianoTorres",
    initials: "A",
    username: "adrianortorres"
    },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c669a8dc4214d13360ee9",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    member: {
    name: "Caio Oliveira",
    id: "58ce81fde94de09d984147c7"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a"
    },
    idMember: "58ce81fde94de09d984147c7"
    },
    type: "addMemberToCard",
    date: "2018-08-09T16:06:50.555Z",
    limits: { },
    member: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c66971ca8eb20a856ec08",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a",
    due: "2018-09-14T15:00:00.000Z"
    },
    old: {
    due: "2018-08-31T15:00:00.000Z"
    }
    },
    type: "updateCard",
    date: "2018-08-09T16:06:47.278Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c667c015cc60c760e4eb7",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a",
    due: "2018-08-31T15:00:00.000Z"
    },
    old: {
    due: null
    }
    },
    type: "updateCard",
    date: "2018-08-09T16:06:20.278Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c65ddf665ff1bd72cf48d",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    checklist: {
    name: "Capítulos",
    id: "5b6c65ddf665ff1bd72cf48c"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a"
    }
    },
    type: "addChecklistToCard",
    date: "2018-08-09T16:03:41.349Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c65b33efded23f43d888b",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    card: {
    shortLink: "O9cETg1g",
    idShort: 9,
    name: "Ler capítulos de livros",
    id: "5b6c65b33efded23f43d888a"
    }
    },
    type: "createCard",
    date: "2018-08-09T16:02:59.701Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6412c0322a64210a768a",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    list: {
    name: "Doing",
    id: "5b6c60e7a4f6676495449d6e"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "FcRvJPDA",
    idShort: 1,
    name: "git/organizacao do projeto",
    id: "5b6c611c7be1c44cb9326b60",
    due: "2018-08-17T15:00:00.000Z"
    },
    old: {
    due: null
    }
    },
    type: "updateCard",
    date: "2018-08-09T15:56:02.631Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c63dacc0fae3896a6cfc7",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    plugin: {
    listing: {
    overview: "Visualize Trello cards in a calendar view.",
    description: "Bring perspective to due dates with the Calendar Power-Up for Trello. Whether you are planning a conference, managing an editorial calendar, or organizing a family vacation, the Calendar Power-Up let’s you display cards with due dates in a weekly or monthly calendar view. Easily prioritize cards by dragging and dropping them on the calendar to automatically update their due dates, and export your Trello calendar to third party apps with an iCalendar link. - Display and filter cards with due dates in a weekly or monthly calendar view. - Manage due dates by dragging and dropping cards on the calendar. - Easily see completed tasks by marking due dates complete. - Export a board’s calendar to third party calendars with each board’s unique iCalendar link. - The Calendar Power-Up is supported on the web and iOS and Android mobile devices. ![screenshot](https://calendar.trello.services/images/Calendar_1.jpg) ![screenshot](https://calendar.trello.services/images/Calendar_2.jpg) ![screenshot](https://calendar.trello.services/images/Calendar_3.jpg) ![screenshot](https://calendar.trello.services/images/Calendar_4.jpg)",
    locale: "en-US",
    name: "Calendar"
    },
    icon: {
    url: "https://calendar.trello.services/images/calendar-icon.svg"
    },
    heroImageUrl: {
    @2x: "https://trello-attachments.s3.amazonaws.com/5b56280b7694ac008082fe38/5b5628c7fcbdca04e2d6334c/4025fdb1f203e43f2cd5997b29e53e65/calendar%402x.jpg",
    @1x: "https://trello-attachments.s3.amazonaws.com/5b56280b7694ac008082fe38/5b5628c7fcbdca04e2d6334c/f52b4188bdca53cf13a9036efb95eced/calendar.jpg",
    _id: "5b5629bd96d94a97675090c7"
    },
    tags: [
    "essential"
    ],
    url: "https://calendar.trello.services/manifest.json",
    supportEmail: "support@trello.com",
    moderatedState: null,
    public: true,
    privacyUrl: "",
    name: "Calendar",
    iframeConnectorUrl: "https://calendar.trello.services/",
    categories: [
    "board-utilities",
    "communication-collaboration"
    ],
    capabilities: [ ],
    author: "Trello Inc",
    idOrganizationOwner: "5a999cd36066c584c097f193",
    id: "55a5d917446f517774210011"
    }
    },
    type: "enablePlugin",
    date: "2018-08-09T15:55:06.712Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c63c02965891a25c4de1e",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5a7e159284b6defc477f795a"
    }
    },
    old: {
    prefs: {
    background: "5ae06144e3db8314a0a5badc"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:54:40.344Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c63aae0f9c746b2617020",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5ae06144e3db8314a0a5badc"
    }
    },
    old: {
    prefs: {
    background: "5abe10358744f775101877c4"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:54:18.747Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c63a46c2a194f6735231a",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5abe10358744f775101877c4"
    }
    },
    old: {
    prefs: {
    background: "5a7c889fd50da7c2049ec564"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:54:12.761Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c639d1e7a04406e68e89f",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5a7c889fd50da7c2049ec564"
    }
    },
    old: {
    prefs: {
    background: "5a7e159284b6defc477f795a"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:54:05.896Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c63909cc6bd2fc8cdfa2c",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5a7e159284b6defc477f795a"
    }
    },
    old: {
    prefs: {
    background: "5a7c9db274f772d59a9e38f2"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:53:52.188Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6383c38ccb6857151339",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5a7c9db274f772d59a9e38f2"
    }
    },
    old: {
    prefs: {
    background: "5a7d66940690f89e94454710"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:53:39.920Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6382463f7a8f5b4f4fda",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5a7d66940690f89e94454710"
    }
    },
    old: {
    prefs: {
    background: "5a7c8773af01c0a76a73bff4"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:53:38.559Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6374bab99650d9672604",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5a7c8773af01c0a76a73bff4"
    }
    },
    old: {
    prefs: {
    background: "blue"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:53:24.698Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6360c3a03671cb9cf63b",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "blue"
    }
    },
    old: {
    prefs: {
    background: "5b5c7933486d53247b7f6f64"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:53:04.648Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c634827095d4104782a62",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5b5c7933486d53247b7f6f64"
    }
    },
    old: {
    prefs: {
    background: "5b5c82b62613d920909bb74c"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:40.569Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c634181a4c13e48faf7d7",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "5b5c82b62613d920909bb74c"
    }
    },
    old: {
    prefs: {
    background: "blue"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:33.117Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6338ad6d8f3017462958",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "blue"
    }
    },
    old: {
    prefs: {
    background: "red"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:24.102Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6337ddcd9262b5aec5bc",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "red"
    }
    },
    old: {
    prefs: {
    background: "blue"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:23.365Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c63365f295f82521d1574",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "blue"
    }
    },
    old: {
    prefs: {
    background: "purple"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:22.904Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c63365e208a0f3688b5d4",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "purple"
    }
    },
    old: {
    prefs: {
    background: "pink"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:22.491Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6336a611cb861df56877",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "pink"
    }
    },
    old: {
    prefs: {
    background: "blue"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:22.064Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6334a0f69281677fe932",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "blue"
    }
    },
    old: {
    prefs: {
    background: "red"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:20.993Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6334dae3867d3de07b97",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "red"
    }
    },
    old: {
    prefs: {
    background: "blue"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:20.357Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6333629e3c73f40d5c50",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "blue"
    }
    },
    old: {
    prefs: {
    background: "sky"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:19.735Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6333dcd1ad42d8c50fa1",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489",
    prefs: {
    background: "sky"
    }
    },
    old: {
    prefs: {
    background: "blue"
    }
    }
    },
    type: "updateBoard",
    date: "2018-08-09T15:52:19.065Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c628b633b937a5581a46a",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Referências",
    id: "5b6c61c161714a7b0591b05c"
    },
    card: {
    shortLink: "fKlnXttz",
    idShort: 8,
    name: "oxford refactoring",
    id: "5b6c628b633b937a5581a469"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:49:31.852Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6286f965c8387a850ef6",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Referências",
    id: "5b6c61c161714a7b0591b05c"
    },
    card: {
    shortLink: "Qp0sCBkE",
    idShort: 7,
    name: "campina grande refactoring",
    id: "5b6c6286f965c8387a850ef5"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:49:26.739Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c6273cbb09a6468973320",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Referências",
    id: "5b6c61c161714a7b0591b05c"
    },
    card: {
    shortLink: "ZmFOch7x",
    idShort: 6,
    name: "Crossing the Gap from Imperative to Functional Programming through Refactoring",
    id: "5b6c6273cbb09a646897331f"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:49:07.427Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c62538062ca6883a023e1",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    card: {
    shortLink: "GQyNxBUU",
    idShort: 5,
    name: "Definir precondiçoes de refactores possíveis",
    id: "5b6c62538062ca6883a023e0"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:48:35.092Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c61c161714a7b0591b05d",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Referências",
    id: "5b6c61c161714a7b0591b05c"
    }
    },
    type: "createList",
    date: "2018-08-09T15:46:09.878Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c61a52b4e8802d240bee2",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    card: {
    shortLink: "uGe6iA3q",
    idShort: 4,
    name: "refactorings interessantes JS",
    id: "5b6c61a52b4e8802d240bee1"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:45:41.294Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c619def5f41641eeff0a9",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    card: {
    shortLink: "nJO18L1P",
    idShort: 3,
    name: "decidir: implementa um do zero ou reaproveitar o existente?",
    id: "5b6c619def5f41641eeff0a8"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:45:33.656Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c618c3238e76a2732177a",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    card: {
    shortLink: "oevozokZ",
    idShort: 2,
    id: "5b6c61365c85bd28aa3dc988",
    name: "Verificar versão suportada do JS no Rascal MPL ES6/ES5"
    },
    old: {
    name: "Verificar versão suportada do JS no Rascal MPL"
    }
    },
    type: "updateCard",
    date: "2018-08-09T15:45:16.767Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c61365c85bd28aa3dc989",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    },
    card: {
    shortLink: "oevozokZ",
    idShort: 2,
    name: "Verificar versão suportada do JS no Rascal MPL",
    id: "5b6c61365c85bd28aa3dc988"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:43:50.281Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c611c7be1c44cb9326b61",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Doing",
    id: "5b6c60e7a4f6676495449d6e"
    },
    card: {
    shortLink: "FcRvJPDA",
    idShort: 1,
    name: "git/organizacao do projeto",
    id: "5b6c611c7be1c44cb9326b60"
    }
    },
    type: "createCard",
    date: "2018-08-09T15:43:24.216Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c60f60648426297ff9908",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Done",
    id: "5b6c60f60648426297ff9907"
    }
    },
    type: "createList",
    date: "2018-08-09T15:42:46.775Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c60e7a4f6676495449d6f",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "Doing",
    id: "5b6c60e7a4f6676495449d6e"
    }
    },
    type: "createList",
    date: "2018-08-09T15:42:31.807Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c60e22dec055fcb8fd0c0",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    },
    list: {
    name: "To Do",
    id: "5b6c60e22dec055fcb8fd0bf"
    }
    },
    type: "createList",
    date: "2018-08-09T15:42:26.639Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c60ddbd44d24fa6ff448c",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    organization: {
    name: "jsrefactor",
    id: "5b6c60072ddf724e9a4e213f"
    },
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    }
    },
    type: "addToOrganizationBoard",
    date: "2018-08-09T15:42:21.153Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    },
    {
    id: "5b6c60ddbd44d24fa6ff448b",
    idMemberCreator: "58ce81fde94de09d984147c7",
    data: {
    board: {
    shortLink: "yoDyaws0",
    name: "JS Refactor",
    id: "5b6c60ddbd44d24fa6ff4489"
    }
    },
    type: "createBoard",
    date: "2018-08-09T15:42:21.151Z",
    limits: { },
    memberCreator: {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    fullName: "Caio Oliveira",
    initials: "CO",
    username: "caiooliveira51"
    }
    }
    ],
    cards: [
    {
    id: "5b6c61365c85bd28aa3dc988",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:13.069Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c60e22dec055fcb8fd0bf",
    idMembersVoted: [ ],
    idShort: 2,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d0e"
    ],
    manualCoverAttachment: false,
    name: "Verificar versão suportada do JS no Rascal MPL ES6/ES5",
    pos: 65535,
    shortLink: "oevozokZ",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr52674jw4eftgovig+1ddkyjq5jb@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d0e",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Média",
    color: "yellow"
    }
    ],
    shortUrl: "https://trello.com/c/oevozokZ",
    subscribed: false,
    url: "https://trello.com/c/oevozokZ/2-verificar-vers%C3%A3o-suportada-do-js-no-rascal-mpl-es6-es5",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c619def5f41641eeff0a8",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:26.798Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c60e22dec055fcb8fd0bf",
    idMembersVoted: [ ],
    idShort: 3,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d0f"
    ],
    manualCoverAttachment: false,
    name: "decidir: implementa um do zero ou reaproveitar o existente?",
    pos: 131071,
    shortLink: "nJO18L1P",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr52hecd82p5ofkgq0+1nk7i0leoq@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d0f",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Baixa",
    color: "green"
    }
    ],
    shortUrl: "https://trello.com/c/nJO18L1P",
    subscribed: false,
    url: "https://trello.com/c/nJO18L1P/3-decidir-implementa-um-do-zero-ou-reaproveitar-o-existente",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c61a52b4e8802d240bee1",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:31.694Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c60e22dec055fcb8fd0bf",
    idMembersVoted: [ ],
    idShort: 4,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d0e"
    ],
    manualCoverAttachment: false,
    name: "refactorings interessantes JS",
    pos: 196607,
    shortLink: "uGe6iA3q",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr52i6i86edldkefoh+1aewzkge7r@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d0e",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Média",
    color: "yellow"
    }
    ],
    shortUrl: "https://trello.com/c/uGe6iA3q",
    subscribed: false,
    url: "https://trello.com/c/uGe6iA3q/4-refactorings-interessantes-js",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c62538062ca6883a023e0",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:37.203Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c60e22dec055fcb8fd0bf",
    idMembersVoted: [ ],
    idShort: 5,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d0f"
    ],
    manualCoverAttachment: false,
    name: "Definir precondiçoes de refactores possíveis",
    pos: 262143,
    shortLink: "GQyNxBUU",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr53116urp4apknrog+08aacqywpm@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d0f",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Baixa",
    color: "green"
    }
    ],
    shortUrl: "https://trello.com/c/GQyNxBUU",
    subscribed: false,
    url: "https://trello.com/c/GQyNxBUU/5-definir-precondi%C3%A7oes-de-refactores-poss%C3%ADveis",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c65b33efded23f43d888a",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:08:00.162Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c60e22dec055fcb8fd0bf",
    idMembersVoted: [ ],
    idShort: 9,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d16"
    ],
    manualCoverAttachment: false,
    name: "Ler capítulos de livros",
    pos: 327679,
    shortLink: "O9cETg1g",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 4,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: "2018-09-14T15:00:00.000Z",
    dueComplete: false
    },
    dueComplete: false,
    due: "2018-09-14T15:00:00.000Z",
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr55mfsemubwfvkm8a+0gfrn98doy@boards.trello.com",
    idChecklists: [
    "5b6c65ddf665ff1bd72cf48c"
    ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d16",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Leitura",
    color: "blue"
    }
    ],
    shortUrl: "https://trello.com/c/O9cETg1g",
    subscribed: false,
    url: "https://trello.com/c/O9cETg1g/9-ler-cap%C3%ADtulos-de-livros",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c611c7be1c44cb9326b60",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:42.511Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c60e7a4f6676495449d6e",
    idMembersVoted: [ ],
    idShort: 1,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d11"
    ],
    manualCoverAttachment: false,
    name: "git/organizacao do projeto",
    pos: 65535,
    shortLink: "FcRvJPDA",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: "2018-08-17T15:00:00.000Z",
    dueComplete: false
    },
    dueComplete: false,
    due: "2018-08-17T15:00:00.000Z",
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr523edtt6iqpxyg68+148esohqrd@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d11",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Alta",
    color: "red"
    }
    ],
    shortUrl: "https://trello.com/c/FcRvJPDA",
    subscribed: false,
    url: "https://trello.com/c/FcRvJPDA/1-git-organizacao-do-projeto",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c66c38522df3a803b19f9",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:08:04.323Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c60e7a4f6676495449d6e",
    idMembersVoted: [ ],
    idShort: 10,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d11"
    ],
    manualCoverAttachment: false,
    name: "Site",
    pos: 131071,
    shortLink: "kDf76VsH",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr56fvrj2kjov7zy0p+1sqgnul9yw@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d11",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Alta",
    color: "red"
    }
    ],
    shortUrl: "https://trello.com/c/kDf76VsH",
    subscribed: false,
    url: "https://trello.com/c/kDf76VsH/10-site",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c6273cbb09a646897331f",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:48.466Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c61c161714a7b0591b05c",
    idMembersVoted: [ ],
    idShort: 6,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d16"
    ],
    manualCoverAttachment: false,
    name: "Crossing the Gap from Imperative to Functional Programming through Refactoring",
    pos: 65535,
    shortLink: "ZmFOch7x",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr534iwvdd5p41331b+1edad2hslv@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d16",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Leitura",
    color: "blue"
    }
    ],
    shortUrl: "https://trello.com/c/ZmFOch7x",
    subscribed: false,
    url: "https://trello.com/c/ZmFOch7x/6-crossing-the-gap-from-imperative-to-functional-programming-through-refactoring",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c6286f965c8387a850ef5",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:52.242Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c61c161714a7b0591b05c",
    idMembersVoted: [ ],
    idShort: 7,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d16"
    ],
    manualCoverAttachment: false,
    name: "campina grande refactoring",
    pos: 131071,
    shortLink: "Qp0sCBkE",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr536lkqlwlyyqonhx+1qqgqomp2e@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d16",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Leitura",
    color: "blue"
    }
    ],
    shortUrl: "https://trello.com/c/Qp0sCBkE",
    subscribed: false,
    url: "https://trello.com/c/Qp0sCBkE/7-campina-grande-refactoring",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    },
    {
    id: "5b6c628b633b937a5581a469",
    checkItemStates: null,
    closed: false,
    creationMethod: null,
    dateLastActivity: "2018-08-09T16:01:56.162Z",
    desc: "",
    descData: null,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idList: "5b6c61c161714a7b0591b05c",
    idMembersVoted: [ ],
    idShort: 8,
    idAttachmentCover: null,
    limits: {
    attachments: {
    perCard: {
    status: "ok",
    disableAt: 950,
    warnAt: 900
    }
    },
    checklists: {
    perCard: {
    status: "ok",
    disableAt: 475,
    warnAt: 450
    }
    },
    stickers: {
    perCard: {
    status: "ok",
    disableAt: 67,
    warnAt: 63
    }
    }
    },
    idLabels: [
    "5b6c60dd9c16fb124a295d16"
    ],
    manualCoverAttachment: false,
    name: "oxford refactoring",
    pos: 196607,
    shortLink: "fKlnXttz",
    badges: {
    votes: 0,
    attachmentsByType: {
    trello: {
    board: 0,
    card: 0
    }
    },
    viewingMemberVoted: false,
    subscribed: false,
    fogbugz: "",
    checkItems: 0,
    checkItemsChecked: 0,
    comments: 0,
    attachments: 0,
    description: false,
    due: null,
    dueComplete: false
    },
    dueComplete: false,
    due: null,
    email: "caiooliveira5+2nxdx05t830g58q9493+2qr5372ra0vvnukkl7t+1sv8gh8g9a@boards.trello.com",
    idChecklists: [ ],
    idMembers: [ ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d16",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Leitura",
    color: "blue"
    }
    ],
    shortUrl: "https://trello.com/c/fKlnXttz",
    subscribed: false,
    url: "https://trello.com/c/fKlnXttz/8-oxford-refactoring",
    attachments: [ ],
    pluginData: [ ],
    customFieldItems: [ ]
    }
    ],
    labels: [
    {
    id: "5b6c60dd9c16fb124a295d16",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Leitura",
    color: "blue"
    },
    {
    id: "5b6c60dd9c16fb124a295d0e",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Média",
    color: "yellow"
    },
    {
    id: "5b6c60dd9c16fb124a295d0f",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Baixa",
    color: "green"
    },
    {
    id: "5b6c60dd9c16fb124a295d11",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "Alta",
    color: "red"
    },
    {
    id: "5b6c60dd9c16fb124a295d10",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "",
    color: "orange"
    },
    {
    id: "5b6c60dd9c16fb124a295d15",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    name: "",
    color: "purple"
    }
    ],
    lists: [
    {
    id: "5b6c60e22dec055fcb8fd0bf",
    name: "To Do",
    closed: false,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    pos: 65535,
    subscribed: false,
    limits: {
    cards: {
    openPerList: {
    status: "ok",
    disableAt: 4750,
    warnAt: 4500
    },
    totalPerList: {
    status: "ok",
    disableAt: 950000,
    warnAt: 900000
    }
    }
    }
    },
    {
    id: "5b6c60e7a4f6676495449d6e",
    name: "Doing",
    closed: false,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    pos: 131071,
    subscribed: false,
    limits: {
    cards: {
    openPerList: {
    status: "ok",
    disableAt: 4750,
    warnAt: 4500
    },
    totalPerList: {
    status: "ok",
    disableAt: 950000,
    warnAt: 900000
    }
    }
    }
    },
    {
    id: "5b6c60f60648426297ff9907",
    name: "Done",
    closed: false,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    pos: 196607,
    subscribed: false,
    limits: {
    cards: {
    openPerList: {
    status: "ok",
    disableAt: 4750,
    warnAt: 4500
    },
    totalPerList: {
    status: "ok",
    disableAt: 950000,
    warnAt: 900000
    }
    }
    }
    },
    {
    id: "5b6c61c161714a7b0591b05c",
    name: "Referências",
    closed: false,
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    pos: 262143,
    subscribed: false,
    limits: {
    cards: {
    openPerList: {
    status: "ok",
    disableAt: 4750,
    warnAt: 4500
    },
    totalPerList: {
    status: "ok",
    disableAt: 950000,
    warnAt: 900000
    }
    }
    }
    }
    ],
    members: [
    {
    id: "51ae3b05bc0b449d6e001010",
    avatarHash: null,
    avatarUrl: null,
    bio: "",
    bioData: null,
    confirmed: true,
    fullName: "AdrianoTorres",
    idEnterprisesDeactivated: [ ],
    idPremOrgsAdmin: [ ],
    initials: "A",
    memberType: "normal",
    products: [ ],
    status: "disconnected",
    url: "https://trello.com/adrianortorres",
    username: "adrianortorres"
    },
    {
    id: "58ce81fde94de09d984147c7",
    avatarHash: "fb4ba879e40b84717c66cf049b5f4c7e",
    avatarUrl: "https://trello-avatars.s3.amazonaws.com/fb4ba879e40b84717c66cf049b5f4c7e",
    bio: "",
    bioData: null,
    confirmed: true,
    fullName: "Caio Oliveira",
    idEnterprisesDeactivated: [ ],
    idPremOrgsAdmin: [ ],
    initials: "CO",
    memberType: "normal",
    products: [ ],
    status: "disconnected",
    url: "https://trello.com/caiooliveira51",
    username: "caiooliveira51"
    }
    ],
    checklists: [
    {
    id: "5b6c65ddf665ff1bd72cf48c",
    name: "Capítulos",
    idBoard: "5b6c60ddbd44d24fa6ff4489",
    idCard: "5b6c65b33efded23f43d888a",
    pos: 16384,
    limits: {
    checkItems: {
    perChecklist: {
    status: "ok",
    disableAt: 190,
    warnAt: 180
    }
    }
    },
    checkItems: [
    {
    idChecklist: "5b6c65ddf665ff1bd72cf48c",
    state: "incomplete",
    id: "5b6c65df2ecd7c6d733ebd4b",
    name: "1",
    nameData: null,
    pos: 16412
    },
    {
    idChecklist: "5b6c65ddf665ff1bd72cf48c",
    state: "incomplete",
    id: "5b6c65e4fb8c9759431e2c4d",
    name: "5",
    nameData: null,
    pos: 84394
    },
    {
    idChecklist: "5b6c65ddf665ff1bd72cf48c",
    state: "incomplete",
    id: "5b6c65e5f74d6a3b0d7fe6e3",
    name: "6",
    nameData: null,
    pos: 101049
    },
    {
    idChecklist: "5b6c65ddf665ff1bd72cf48c",
    state: "incomplete",
    id: "5b6c65e569b5791129b8f838",
    name: "7",
    nameData: null,
    pos: 118070
    }
    ]
    }
    ],
    customFields: [ ],
    memberships: [
    {
    id: "5b6c60ddbd44d24fa6ff448a",
    idMember: "58ce81fde94de09d984147c7",
    memberType: "admin",
    unconfirmed: false,
    deactivated: false
    },
    {
    id: "5b6c669db6f7fc032b152a3c",
    idMember: "51ae3b05bc0b449d6e001010",
    memberType: "admin",
    unconfirmed: false,
    deactivated: false
    }
    ],
    pluginData: [ ]
    }

  </script>
 </body>
</html>